@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  --color-gameTeal: #075d63;
  --color-gameTealLight: #0a7b82;
  --color-gameTealDark: #054a4f;
  --color-gameGold: #f2c537;
  --color-gameGoldDark: #d9b132;
  --color-gameBlack: #0f172a;
}

@layer base {
  body {
    @apply bg-white text-gameBlack antialiased;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
